<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>
    <span>{{title}}</span>

    <!--<span>Yay, Material in Angular 2!</span>-->

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>

<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
  <!--<button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->

<!--<br>-->

<!--&lt;!&ndash; Applying the mat-tyography class adds styles for native elements. &ndash;&gt;-->
<!--<section class="mat-typography">-->
  <!--<h1>{{title}}</h1>-->
<!--</section>-->

<!--<br>-->

<!--<mat-form-field>-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->
